
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="/images/logo2.png" style="max-height: 51px !important;" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/admin">
                <i class="ni ni-tv-2 text-success"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
          </ul>
            <!-- Divider -->
          <hr class="my-3">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin/tracks" >
                <i class="ni ni-headphones text-info"></i>
                <span class="nav-link-text">Tracks</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/playlists" >
                <i class="ni ni-button-play text-info"></i>
                <span class="nav-link-text">Playlists</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/albums" >
                <i class="ni ni-align-left-2 text-info"></i>
                <span class="nav-link-text">Albumnes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/artists" >
                <i class="ni ni-button-play text-info"></i>
                <span class="nav-link-text">Artistas</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>